<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="A381F173-5DB4-4B84-A6D9-7E178C2037A9" Name="TestProduct" Language="1033" Version="0.0.0.1" Manufacturer="WixEdit" UpgradeCode="95983FE0-19B1-43FE-8390-750F62EE8A40">
		<Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles" />
			<Directory Id="DGZ" Name="dgz">
				<Component Id="DgzAIOServiceComponent" Guid="A3BB6943-C53E-4CC7-BB5C-EF98F915AE50">
					<File Id="DgzAIOServiceExe"
						Name="DgzAIOWindowsService.exe"
						Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\DgzAIOWindowsService\bin\Release\DgzAIOWindowsService.exe"/>
					<ServiceInstall Id="DgzAIOServiceInstaller"
							Name="DgzAIOService"
							DisplayName="DgzAIO Windows Service"
							Description="DgzAIO xizmatlari uchun Windows Service"
							Start="auto"
							Type="ownProcess"
							Account="LocalSystem"
							ErrorControl="normal"/>
					<ServiceControl Id="StartDgzAIOService"
							Name="DgzAIOService"
							Start="install"
							Stop="both"
							Remove="uninstall"
							Wait="yes" />
				</Component>
				<Component Id="APPLICATIONMONITOR.DLL" DiskId="1" Guid="690AD299-0F37-4DE3-81C3-B1FA5BFA6F91">
					<File Id="APPLICATIONMONITOR.DLL" Name="ApplicationMonitor.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\ApplicationMonitor.dll" />
				</Component>
				<Component Id="APPLICATIONMONITOR.DLL.CONFIG" DiskId="1" Guid="48A3150F-A538-4644-B2F2-E773D0B6E9C9">
					<File Id="APPLICATIONMONITOR.DLL.CONFIG" Name="ApplicationMonitor.dll.config" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\ApplicationMonitor.dll.config" />
				</Component>
				<Component Id="COMPUTERINFORMATION.DLL" DiskId="1" Guid="483E6934-503A-4DC5-9C28-012EA2EEDA14">
					<File Id="COMPUTERINFORMATION.DLL" Name="ComputerInformation.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\ComputerInformation.dll" />
				</Component>
				<Component Id="DBHELPER.DLL" DiskId="1" Guid="0FDB0B9F-D604-44CF-9C41-923EA5543A20">
					<File Id="DBHELPER.DLL" Name="DBHelper.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\DBHelper.dll" />
				</Component>
				<Component Id="DGZAIO.EXE" DiskId="1" Guid="95C1498C-DF9E-42AF-94BB-F9BBFDA81BC2">
					<File Id="DGZAIO.EXE" Name="DgzAIO.exe" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\DgzAIO.exe" />
				</Component>
				<Component Id="DGZAIO.EXE.CONFIG" DiskId="1" Guid="52404660-3E10-4002-8708-DDA324D0D96C">
					<File Id="DGZAIO.EXE.CONFIG" Name="DgzAIO.exe.config" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\DgzAIO.exe.config" />
				</Component>
				<Component Id="DGZAIO.HTTPSERVICE.DLL" DiskId="1" Guid="CAF1315F-AABC-4325-9986-2920D493CA60">
					<File Id="DGZAIO.HTTPSERVICE.DLL" Name="DgzAIO.HttpService.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\DgzAIO.HttpService.dll" />
				</Component>
				<Component Id="DGZAIOWINDOWSSERVICE.EXE" DiskId="1" Guid="3DD6E372-DEAA-48AC-B49B-BE03BCF7FA79">
					<File Id="DGZAIOWINDOWSSERVICE.EXE" Name="DgzAIOWindowsService.exe" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\DgzAIOWindowsService.exe" />
				</Component>
				<Component Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" DiskId="1" Guid="B8BE4894-BB11-49FA-9ADC-7FA505760750">
					<File Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" Name="DgzAIOWindowsService.exe.config" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\DgzAIOWindowsService.exe.config" />
				</Component>
				<Component Id="ENTITYFRAMEWORK.DLL" DiskId="1" Guid="0159E219-4ED1-418D-A001-945997B0C790">
					<File Id="ENTITYFRAMEWORK.DLL" Name="EntityFramework.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\EntityFramework.dll" />
				</Component>
				<Component Id="ENTITYFRAMEWORK.SQLSERVER.DLL" DiskId="1" Guid="4102DF5E-FCDB-446A-B06C-78A8418997C0">
					<File Id="ENTITYFRAMEWORK.SQLSERVER.DLL" Name="EntityFramework.SqlServer.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\EntityFramework.SqlServer.dll" />
				</Component>
				<Component Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" DiskId="1" Guid="6FB18761-1FD5-489D-BC31-DE1B41C2F625">
					<File Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Bcl.AsyncInterfaces.dll" />
				</Component>
				<Component Id="MICROSOFT.DATA.SQLITE.DLL" DiskId="1" Guid="C3684055-B68E-4093-8848-A742861C5F2E">
					<File Id="MICROSOFT.DATA.SQLITE.DLL" Name="Microsoft.Data.Sqlite.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Data.Sqlite.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ABSTRACTIONS.DLL" DiskId="1" Guid="94724779-994A-4937-B7C8-EA9C52127812">
					<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ABSTRACTIONS.DLL" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.Configuration.Abstractions.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.DLL" DiskId="1" Guid="2D166BE9-DDEE-4DA5-A82F-DBAF92BF21D8">
					<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.DLL" Name="Microsoft.Extensions.Configuration.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.Configuration.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ENVIRONMENTVARIABLES.DLL" DiskId="1" Guid="B517E4FB-31B8-4B70-8600-93E5EA81B7C4">
					<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ENVIRONMENTVARIABLES.DLL" Name="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.FILEEXTENSIONS.DLL" DiskId="1" Guid="59072DB7-96C2-44C4-910B-3C44A5D778AE">
					<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.FILEEXTENSIONS.DLL" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.Configuration.FileExtensions.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.JSON.DLL" DiskId="1" Guid="A7BB5D0C-233E-405B-901E-A05C44C9EF9E">
					<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.JSON.DLL" Name="Microsoft.Extensions.Configuration.Json.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.Configuration.Json.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.ABSTRACTIONS.DLL" DiskId="1" Guid="60CDC405-029B-4BE0-9222-A3CF18C07C16">
					<File Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.ABSTRACTIONS.DLL" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.FileProviders.Abstractions.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.PHYSICAL.DLL" DiskId="1" Guid="65BC372C-DD26-44EF-B7C6-42C24AD33E5C">
					<File Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.PHYSICAL.DLL" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.FileProviders.Physical.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.FILESYSTEMGLOBBING.DLL" DiskId="1" Guid="D513B20C-6396-4EBC-B65F-FD973532E8A1">
					<File Id="MICROSOFT.EXTENSIONS.FILESYSTEMGLOBBING.DLL" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.FileSystemGlobbing.dll" />
				</Component>
				<Component Id="MICROSOFT.EXTENSIONS.PRIMITIVES.DLL" DiskId="1" Guid="C3F846A6-EC60-439B-8E40-34A8CF362C6A">
					<File Id="MICROSOFT.EXTENSIONS.PRIMITIVES.DLL" Name="Microsoft.Extensions.Primitives.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Microsoft.Extensions.Primitives.dll" />
				</Component>
				<Component Id="NEWTONSOFT.JSON.DLL" DiskId="1" Guid="5E3A31F9-5501-4982-ADDA-EBE55ECFBF17">
					<File Id="NEWTONSOFT.JSON.DLL" Name="Newtonsoft.Json.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\Newtonsoft.Json.dll" />
				</Component>
				<Component Id="SOCKETCLIENT.DLL" DiskId="1" Guid="DBE101B2-A522-447D-9057-F4258749E5FC">
					<File Id="SOCKETCLIENT.DLL" Name="SocketClient.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SocketClient.dll" />
				</Component>
				<Component Id="SOCKETIO.CORE.DLL" DiskId="1" Guid="5665B7E6-5432-4B5A-B229-589A0F2A4522">
					<File Id="SOCKETIO.CORE.DLL" Name="SocketIO.Core.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SocketIO.Core.dll" />
				</Component>
				<Component Id="SOCKETIO.SERIALIZER.CORE.DLL" DiskId="1" Guid="57C25C9B-6B42-41D0-BEE9-D805A7257800">
					<File Id="SOCKETIO.SERIALIZER.CORE.DLL" Name="SocketIO.Serializer.Core.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SocketIO.Serializer.Core.dll" />
				</Component>
				<Component Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" DiskId="1" Guid="66833D73-01A5-4D17-A08E-1ED4FDE06C52">
					<File Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" Name="SocketIO.Serializer.SystemTextJson.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SocketIO.Serializer.SystemTextJson.dll" />
				</Component>
				<Component Id="SOCKETIOCLIENT.DLL" DiskId="1" Guid="89073F51-3E70-465C-823C-01ABF22B3003">
					<File Id="SOCKETIOCLIENT.DLL" Name="SocketIOClient.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SocketIOClient.dll" />
				</Component>
				<Component Id="SQLITEPCLRAW.BATTERIES_V2.DLL" DiskId="1" Guid="9E9A6419-7A8B-4EAC-AE9A-161AE7F1D301">
					<File Id="SQLITEPCLRAW.BATTERIES_V2.DLL" Name="SQLitePCLRaw.batteries_v2.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SQLitePCLRaw.batteries_v2.dll" />
				</Component>
				<Component Id="SQLITEPCLRAW.CORE.DLL" DiskId="1" Guid="E02DAD15-FC56-4859-B61E-44AAE7DBE30E">
					<File Id="SQLITEPCLRAW.CORE.DLL" Name="SQLitePCLRaw.core.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SQLitePCLRaw.core.dll" />
				</Component>
				<Component Id="SQLITEPCLRAW.PROVIDER.DYNAMIC_CDECL.DLL" DiskId="1" Guid="0F67F8BE-C439-404D-9748-EA8D07752C80">
					<File Id="SQLITEPCLRAW.PROVIDER.DYNAMIC_CDECL.DLL" Name="SQLitePCLRaw.provider.dynamic_cdecl.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\SQLitePCLRaw.provider.dynamic_cdecl.dll" />
				</Component>
				<Component Id="SYSTEM.BUFFERS.DLL" DiskId="1" Guid="9C6E2D7C-AC4B-4305-ABED-DA2E6870D9F8">
					<File Id="SYSTEM.BUFFERS.DLL" Name="System.Buffers.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Buffers.dll" />
				</Component>
				<Component Id="SYSTEM.CODEDOM.DLL" DiskId="1" Guid="C26A1D3A-89F9-4B7E-814F-365FE3ED78E1">
					<File Id="SYSTEM.CODEDOM.DLL" Name="System.CodeDom.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.CodeDom.dll" />
				</Component>
				<Component Id="SYSTEM.DATA.SQLITE.DLL" DiskId="1" Guid="ADCDA7B8-5582-44C5-923A-1059FDE373EA">
					<File Id="SYSTEM.DATA.SQLITE.DLL" Name="System.Data.SQLite.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Data.SQLite.dll" />
				</Component>
				<Component Id="SYSTEM.DATA.SQLITE.EF6.DLL" DiskId="1" Guid="4896314F-907A-4EE2-A0D7-1CF47958EDE7">
					<File Id="SYSTEM.DATA.SQLITE.EF6.DLL" Name="System.Data.SQLite.EF6.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Data.SQLite.EF6.dll" />
				</Component>
				<Component Id="SYSTEM.DATA.SQLITE.LINQ.DLL" DiskId="1" Guid="B9BC0F28-F3C9-48C2-BBA8-37E728B5BD71">
					<File Id="SYSTEM.DATA.SQLITE.LINQ.DLL" Name="System.Data.SQLite.Linq.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Data.SQLite.Linq.dll" />
				</Component>
				<Component Id="SYSTEM.IO.PIPELINES.DLL" DiskId="1" Guid="F2C9117D-C7F7-44BD-9420-6594C425E5C2">
					<File Id="SYSTEM.IO.PIPELINES.DLL" Name="System.IO.Pipelines.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.IO.Pipelines.dll" />
				</Component>
				<Component Id="SYSTEM.MEMORY.DLL" DiskId="1" Guid="7ABCEFF4-0F6C-42AB-934C-A16B272CF015">
					<File Id="SYSTEM.MEMORY.DLL" Name="System.Memory.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Memory.dll" />
				</Component>
				<Component Id="SYSTEM.NUMERICS.VECTORS.DLL" DiskId="1" Guid="7CD3E199-5F52-4C70-A9E0-E1750A9E708A">
					<File Id="SYSTEM.NUMERICS.VECTORS.DLL" Name="System.Numerics.Vectors.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Numerics.Vectors.dll" />
				</Component>
				<Component Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" DiskId="1" Guid="14944E73-99EB-48E7-9059-9D556CCF9311">
					<File Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Runtime.CompilerServices.Unsafe.dll" />
				</Component>
				<Component Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" DiskId="1" Guid="9EF06DD7-5392-4E48-8ED8-A67BAEC98B00">
					<File Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" Name="System.Text.Encodings.Web.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Text.Encodings.Web.dll" />
				</Component>
				<Component Id="SYSTEM.TEXT.JSON.DLL" DiskId="1" Guid="060456E4-9FCB-47EC-AF0D-DBCD2756374B">
					<File Id="SYSTEM.TEXT.JSON.DLL" Name="System.Text.Json.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Text.Json.dll" />
				</Component>
				<Component Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" DiskId="1" Guid="219AD858-3589-4A95-BFAF-E4074D5FFB2A">
					<File Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" Name="System.Threading.Tasks.Extensions.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.Threading.Tasks.Extensions.dll" />
				</Component>
				<Component Id="SYSTEM.VALUETUPLE.DLL" DiskId="1" Guid="AE0F51D8-064A-4C65-B9E0-487A02CEFEB0">
					<File Id="SYSTEM.VALUETUPLE.DLL" Name="System.ValueTuple.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\System.ValueTuple.dll" />
				</Component>
				<Directory Id="X64" Name="x64">
					<Component Id="SQLITE.INTEROP.DLL" DiskId="1" Guid="77B1C0D6-01A0-418B-82EB-58048194C24F">
						<File Id="SQLITE.INTEROP.DLL" Name="SQLite.Interop.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\x64\SQLite.Interop.dll" />
					</Component>
				</Directory>
				<Directory Id="X86" Name="x86">
					<Component Id="SQLITE.INTEROP.DLL_1" DiskId="1" Guid="19846153-E615-4784-B429-450B1CCEF337">
						<File Id="SQLITE.INTEROP.DLL_1" Name="SQLite.Interop.dll" Source="Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\dgz\x86\SQLite.Interop.dll" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
		<Feature Id="DefaultFeature" Title="Main Feature" Level="1">
			<ComponentRef Id="APPLICATIONMONITOR.DLL" />
			<ComponentRef Id="APPLICATIONMONITOR.DLL.CONFIG" />
			<ComponentRef Id="COMPUTERINFORMATION.DLL" />
			<ComponentRef Id="DBHELPER.DLL" />
			<ComponentRef Id="DGZAIO.EXE" />
			<ComponentRef Id="DGZAIO.EXE.CONFIG" />
			<ComponentRef Id="DGZAIO.HTTPSERVICE.DLL" />
			<ComponentRef Id="DGZAIOWINDOWSSERVICE.EXE" />
			<ComponentRef Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" />
			<ComponentRef Id="ENTITYFRAMEWORK.DLL" />
			<ComponentRef Id="ENTITYFRAMEWORK.SQLSERVER.DLL" />
			<ComponentRef Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" />
			<ComponentRef Id="MICROSOFT.DATA.SQLITE.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ABSTRACTIONS.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ENVIRONMENTVARIABLES.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.FILEEXTENSIONS.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.JSON.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.ABSTRACTIONS.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.PHYSICAL.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.FILESYSTEMGLOBBING.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.PRIMITIVES.DLL" />
			<ComponentRef Id="NEWTONSOFT.JSON.DLL" />
			<ComponentRef Id="SOCKETCLIENT.DLL" />
			<ComponentRef Id="SOCKETIO.CORE.DLL" />
			<ComponentRef Id="SOCKETIO.SERIALIZER.CORE.DLL" />
			<ComponentRef Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" />
			<ComponentRef Id="SOCKETIOCLIENT.DLL" />
			<ComponentRef Id="SQLITEPCLRAW.BATTERIES_V2.DLL" />
			<ComponentRef Id="SQLITEPCLRAW.CORE.DLL" />
			<ComponentRef Id="SQLITEPCLRAW.PROVIDER.DYNAMIC_CDECL.DLL" />
			<ComponentRef Id="SYSTEM.BUFFERS.DLL" />
			<ComponentRef Id="SYSTEM.CODEDOM.DLL" />
			<ComponentRef Id="SYSTEM.DATA.SQLITE.DLL" />
			<ComponentRef Id="SYSTEM.DATA.SQLITE.EF6.DLL" />
			<ComponentRef Id="SYSTEM.DATA.SQLITE.LINQ.DLL" />
			<ComponentRef Id="SYSTEM.IO.PIPELINES.DLL" />
			<ComponentRef Id="SYSTEM.MEMORY.DLL" />
			<ComponentRef Id="SYSTEM.NUMERICS.VECTORS.DLL" />
			<ComponentRef Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" />
			<ComponentRef Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" />
			<ComponentRef Id="SYSTEM.TEXT.JSON.DLL" />
			<ComponentRef Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" />
			<ComponentRef Id="SYSTEM.VALUETUPLE.DLL" />
			<ComponentRef Id="SQLITE.INTEROP.DLL" />
			<ComponentRef Id="SQLITE.INTEROP.DLL_1" />
		</Feature>
		
		
	</Product>
</Wix>