<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define DgzAIO_TargetDir=$(var.DgzAIO.TargetDir)?>
	<Product Id="*" Name="DgzAIO" Language="1033" Version="2.0.0.0" Manufacturer="Datagaze LLC" UpgradeCode="5D3D5F89-6BE8-478D-B0E7-7D9D73251846">
		<Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
		<Property Id="MSICACHEORIGINALPACKAGE" Value="1" />
		<Property Id="MsiLogging" Value="voicewarmup" />
		<Icon Id="agentIcon" SourceFile="..\TestApp\AppIcon.ico" />
		<Property Id="ARPPRODUCTICON" Value="agentIcon" />
		<Binary Id="CustomActionDLL" SourceFile="..\CustomAction_uninstall\bin\Release\CustomAction_uninstall.CA.dll" />

		<CustomAction Id="RunCustomAction" BinaryKey="CustomActionDLL" DllEntry="CustomAction_uninstall" Execute="deferred" Return="check" Impersonate="no" />

		<InstallExecuteSequence>
			<Custom Action="RunCustomAction" Before="RemoveFiles">REMOVE="ALL"</Custom>
		</InstallExecuteSequence>
		<Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DgzAIO">

					<Component Id="CleanupComponent" Guid="{88432D84-0665-47BE-96D5-627D69889D32}">
						<CreateFolder Directory="INSTALLFOLDER" />
						<RemoveFile Id="RemoveAllFiles" Name="*.*" On="uninstall" Directory="INSTALLFOLDER" />
						<RemoveFolder Id="RemoveInstallFolder" On="uninstall" Directory="INSTALLFOLDER" />
					</Component>
					
					<Component Id="RegistryComponent" Guid="{74178BB3-C00B-4D62-BAA7-1D27F4C5DCC7}">
						<RegistryKey Root="HKLM" Key="SOFTWARE\Datagaze\DLP" Action="createAndRemoveOnUninstall">
							<RegistryValue Name="guid" Type="string" Value="[ProductCode]" KeyPath="yes" />
						</RegistryKey>
					</Component>

					<Component Id="RegistryUninstall" Guid="{A1B2C3D4-E5F6-7890-ABCD-1234567890EF}">
						<RegistryKey Root="HKLM" Key="SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]" 
									 Action="createAndRemoveOnUninstall">
							<RegistryValue Name="DisplayName" Type="string" Value="DgzAIO" />
							<RegistryValue Name="Publisher" Type="string" Value="Dgz LLC" />
							<RegistryValue Name="DisplayVersion" Type="string" Value="[ProductVersion]" />
							<RegistryValue Name="InstallSource" Type="string" Value="[SourceDir]" />
							<RegistryValue Name="InstallLocation" Type="string" Value="[INSTALLFOLDER]" />
							<RegistryValue Name="UninstallString" Type="string" Value="MsiExec.exe /x[ProductCode]" />
							<RegistryValue Name="NoModify" Type="integer" Value="1" />
							<RegistryValue Name="NoRepair" Type="integer" Value="1" />
							<RegistryValue Name="EstimatedSize" Type="integer" Value="10240" />
						</RegistryKey>
					</Component>
					<Component Id="AppIconComponent" Guid="B6F82D5A-8B4F-489C-BF3A-82F589F509AF">
						<File Id="AppIcon.ico" Name="AppIcon.ico" Source="..\TestApp\AppIcon.ico" KeyPath="yes" />
					</Component>
					
					<Component Id="DgzAIOServiceComponent" Guid="A3BB6943-C53E-4CC7-BB5C-EF98F915AE50">
						<File Id="DgzAIOServiceExe" Name="DgzAIOWindowsService.exe" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\DgzAIOWindowsService\bin\Release\DgzAIOWindowsService.exe" />
						<ServiceInstall Id="DgzAIOServiceInstaller" 
										Name="DgzAIOService" 
										DisplayName="DgzAIO Windows Service" 
										Description="DgzAIO xizmatlari uchun Windows Service" 
										Start="auto" Type="ownProcess" 
										Account="LocalSystem" 
										ErrorControl="normal" />
						<ServiceControl Id="StartDgzAIOService" 
										Name="DgzAIOService" 
										Start="install" 
										Stop="both" 
										Remove="uninstall" 
										Wait="yes" />
					</Component>

					<Component Id="APPLICATIONMONITOR.DLL" DiskId="1" Guid="F5580657-D336-488C-A8B0-2854867AAEED">
						<File Id="APPLICATIONMONITOR.DLL" Name="ApplicationMonitor.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\ApplicationMonitor.dll" />
					</Component>
					<Component Id="COMPUTERINFORMATION.DLL" DiskId="1" Guid="928B06CD-4B11-49CE-96B8-4906FFB78528">
						<File Id="COMPUTERINFORMATION.DLL" Name="ComputerInformation.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\ComputerInformation.dll" />
					</Component>
					<Component Id="CUSTOMACTION_UNINSTALL.DLL" DiskId="1" Guid="89AE6F4E-4B20-48B5-9387-2EBD315482A4">
						<File Id="CUSTOMACTION_UNINSTALL.DLL" Name="CustomAction_uninstall.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\CustomAction_uninstall.dll" />
					</Component>
					<Component Id="DBHELPER.DLL" DiskId="1" Guid="021E91D0-4E98-4CE4-AC3C-32CCC45921B4">
						<File Id="DBHELPER.DLL" Name="DBHelper.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\DBHelper.dll" />
					</Component>
					<Component Id="DGZAIO.EXE" DiskId="1" Guid="E80A4BFD-E24A-44A4-A114-EF9E37DC8410">
						<File Id="DGZAIO.EXE" Name="DgzAIO.exe" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\DgzAIO.exe" />
					</Component>
					<Component Id="DGZAIO.EXE.CONFIG" DiskId="1" Guid="4CAF2E89-D6D7-4A75-BB67-CC532486D8F0">
						<File Id="DGZAIO.EXE.CONFIG" Name="DgzAIO.exe.config" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\DgzAIO.exe.config" />
					</Component>
					<Component Id="DGZAIO.HTTPSERVICE.DLL" DiskId="1" Guid="C7071227-C340-49C6-A23E-22A2358AA5CA">
						<File Id="DGZAIO.HTTPSERVICE.DLL" Name="DgzAIO.HttpService.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\DgzAIO.HttpService.dll" />
					</Component>
					<Component Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" DiskId="1" Guid="B95FA8C5-05DF-4922-9C7C-5DD5D4059B37">
						<File Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" Name="DgzAIOWindowsService.exe.config" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\DgzAIOWindowsService.exe.config" />
					</Component>
					<Component Id="ENTITYFRAMEWORK.DLL" DiskId="1" Guid="DF905673-850D-4B8A-B22D-B251FAEF73E9">
						<File Id="ENTITYFRAMEWORK.DLL" Name="EntityFramework.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\EntityFramework.dll" />
					</Component>
					<Component Id="ENTITYFRAMEWORK.SQLSERVER.DLL" DiskId="1" Guid="D604B6D6-21F9-40A5-B4AF-2DAFBF7386D0">
						<File Id="ENTITYFRAMEWORK.SQLSERVER.DLL" Name="EntityFramework.SqlServer.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\EntityFramework.SqlServer.dll" />
					</Component>
					<Component Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" DiskId="1" Guid="1566829C-36B8-4287-9160-8FF1997127F9">
						<File Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Bcl.AsyncInterfaces.dll" />
					</Component>
					<Component Id="MICROSOFT.DATA.SQLITE.DLL" DiskId="1" Guid="919555D3-7B94-4C5D-86CF-92957B019598">
						<File Id="MICROSOFT.DATA.SQLITE.DLL" Name="Microsoft.Data.Sqlite.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Data.Sqlite.dll" />
					</Component>
					<Component Id="MICROSOFT.DEPLOYMENT.WINDOWSINSTALLER.DLL" DiskId="1" Guid="2F7E2927-39D7-4123-B189-341BF6FFC717">
						<File Id="MICROSOFT.DEPLOYMENT.WINDOWSINSTALLER.DLL" Name="Microsoft.Deployment.WindowsInstaller.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Deployment.WindowsInstaller.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ABSTRACTIONS.DLL" DiskId="1" Guid="972E9CAA-48D9-4D53-B972-11CF2488B4C9">
						<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ABSTRACTIONS.DLL" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.Configuration.Abstractions.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.DLL" DiskId="1" Guid="97B761A7-0596-4EEB-A254-1421F0F69331">
						<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.DLL" Name="Microsoft.Extensions.Configuration.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.Configuration.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ENVIRONMENTVARIABLES.DLL" DiskId="1" Guid="75259FA2-D7C0-4075-ABB2-10A03CF79B34">
						<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ENVIRONMENTVARIABLES.DLL" Name="Microsoft.Extensions.Configuration.EnvironmentVariables.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.CONFIGURATION.FILEEXTENSIONS.DLL" DiskId="1" Guid="4035B71D-4E11-4CC2-AB0F-82F7966CEA3F">
						<File Id="MICROSOFT.EXTENSIONS.CONFIGURATION.FILEEXTENSIONS.DLL" Name="Microsoft.Extensions.Configuration.FileExtensions.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.Configuration.FileExtensions.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.ABSTRACTIONS.DLL" DiskId="1" Guid="D7F40528-395B-4614-90B7-E709224E50F0">
						<File Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.ABSTRACTIONS.DLL" Name="Microsoft.Extensions.FileProviders.Abstractions.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.FileProviders.Abstractions.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.PHYSICAL.DLL" DiskId="1" Guid="D514CD67-CD2A-49B1-A22F-4EE0FF4315A6">
						<File Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.PHYSICAL.DLL" Name="Microsoft.Extensions.FileProviders.Physical.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.FileProviders.Physical.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.FILESYSTEMGLOBBING.DLL" DiskId="1" Guid="47902CC0-C638-4DB3-B757-B9920F791484">
						<File Id="MICROSOFT.EXTENSIONS.FILESYSTEMGLOBBING.DLL" Name="Microsoft.Extensions.FileSystemGlobbing.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.FileSystemGlobbing.dll" />
					</Component>
					<Component Id="MICROSOFT.EXTENSIONS.PRIMITIVES.DLL" DiskId="1" Guid="0A49692B-098E-4AE5-8B54-B3B4C93BA16A">
						<File Id="MICROSOFT.EXTENSIONS.PRIMITIVES.DLL" Name="Microsoft.Extensions.Primitives.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Microsoft.Extensions.Primitives.dll" />
					</Component>
					<Component Id="NEWTONSOFT.JSON.DLL" DiskId="1" Guid="035A8A82-5569-49AE-ACD0-C1E3F9CFEDBB">
						<File Id="NEWTONSOFT.JSON.DLL" Name="Newtonsoft.Json.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\Newtonsoft.Json.dll" />
					</Component>
					<Component Id="SOCKETCLIENT.DLL" DiskId="1" Guid="CE0039B1-2AB4-4CCB-A8B2-AD689D94A887">
						<File Id="SOCKETCLIENT.DLL" Name="SocketClient.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SocketClient.dll" />
					</Component>
					<Component Id="SOCKETIO.CORE.DLL" DiskId="1" Guid="F261EFDB-67A1-4CDF-BC5D-E38DE6D46237">
						<File Id="SOCKETIO.CORE.DLL" Name="SocketIO.Core.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SocketIO.Core.dll" />
					</Component>
					<Component Id="SOCKETIO.SERIALIZER.CORE.DLL" DiskId="1" Guid="707B0755-5601-4129-AB55-A72B979DD485">
						<File Id="SOCKETIO.SERIALIZER.CORE.DLL" Name="SocketIO.Serializer.Core.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SocketIO.Serializer.Core.dll" />
					</Component>
					<Component Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" DiskId="1" Guid="E13FDAC0-34AD-42BF-A344-7288DEC82104">
						<File Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" Name="SocketIO.Serializer.SystemTextJson.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SocketIO.Serializer.SystemTextJson.dll" />
					</Component>
					<Component Id="SOCKETIOCLIENT.DLL" DiskId="1" Guid="D5421728-FC6F-4667-808B-342808DA766F">
						<File Id="SOCKETIOCLIENT.DLL" Name="SocketIOClient.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SocketIOClient.dll" />
					</Component>
					<Component Id="SQLITEPCLRAW.BATTERIES_V2.DLL" DiskId="1" Guid="6A5C4BA7-9710-43F5-A907-1663F5EF0042">
						<File Id="SQLITEPCLRAW.BATTERIES_V2.DLL" Name="SQLitePCLRaw.batteries_v2.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SQLitePCLRaw.batteries_v2.dll" />
					</Component>
					<Component Id="SQLITEPCLRAW.CORE.DLL" DiskId="1" Guid="A3793F1B-BF92-43E1-BC5B-265A55527454">
						<File Id="SQLITEPCLRAW.CORE.DLL" Name="SQLitePCLRaw.core.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SQLitePCLRaw.core.dll" />
					</Component>
					<Component Id="SQLITEPCLRAW.PROVIDER.DYNAMIC_CDECL.DLL" DiskId="1" Guid="0062807F-1C99-4C78-946C-68FA8C69C9A5">
						<File Id="SQLITEPCLRAW.PROVIDER.DYNAMIC_CDECL.DLL" Name="SQLitePCLRaw.provider.dynamic_cdecl.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\SQLitePCLRaw.provider.dynamic_cdecl.dll" />
					</Component>
					<Component Id="SYSTEM.BUFFERS.DLL" DiskId="1" Guid="BD9091E8-AAA0-4F69-8A04-C488B83199D7">
						<File Id="SYSTEM.BUFFERS.DLL" Name="System.Buffers.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Buffers.dll" />
					</Component>
					<Component Id="SYSTEM.CODEDOM.DLL" DiskId="1" Guid="4E920172-B063-4EB2-B7D2-34FB1447C0F7">
						<File Id="SYSTEM.CODEDOM.DLL" Name="System.CodeDom.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.CodeDom.dll" />
					</Component>
					<Component Id="SYSTEM.DATA.SQLITE.DLL" DiskId="1" Guid="90739091-8FF9-47AA-B5EE-FF64CAD4F1FD">
						<File Id="SYSTEM.DATA.SQLITE.DLL" Name="System.Data.SQLite.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Data.SQLite.dll" />
					</Component>
					<Component Id="SYSTEM.DATA.SQLITE.EF6.DLL" DiskId="1" Guid="BDDF85D0-B337-499F-A3BD-5B421776CF01">
						<File Id="SYSTEM.DATA.SQLITE.EF6.DLL" Name="System.Data.SQLite.EF6.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Data.SQLite.EF6.dll" />
					</Component>
					<Component Id="SYSTEM.DATA.SQLITE.LINQ.DLL" DiskId="1" Guid="214DBF89-E95B-41C2-84D5-1FC1A0067F42">
						<File Id="SYSTEM.DATA.SQLITE.LINQ.DLL" Name="System.Data.SQLite.Linq.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Data.SQLite.Linq.dll" />
					</Component>
					<Component Id="SYSTEM.IO.PIPELINES.DLL" DiskId="1" Guid="A0282E9B-A98C-4139-A9EA-CF2FD51289DB">
						<File Id="SYSTEM.IO.PIPELINES.DLL" Name="System.IO.Pipelines.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.IO.Pipelines.dll" />
					</Component>
					<Component Id="SYSTEM.MEMORY.DLL" DiskId="1" Guid="5A6760BF-8CCA-4E50-BE26-DF2A7849180C">
						<File Id="SYSTEM.MEMORY.DLL" Name="System.Memory.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Memory.dll" />
					</Component>
					<Component Id="SYSTEM.NUMERICS.VECTORS.DLL" DiskId="1" Guid="E319EAA4-9DB7-4BDF-AD20-D61A2B7785F2">
						<File Id="SYSTEM.NUMERICS.VECTORS.DLL" Name="System.Numerics.Vectors.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Numerics.Vectors.dll" />
					</Component>
					<Component Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" DiskId="1" Guid="2C37213D-2573-472D-8D8D-0DEA3E6D72A6">
						<File Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Runtime.CompilerServices.Unsafe.dll" />
					</Component>
					<Component Id="SYSTEM.SERVICEMODEL.DUPLEX.DLL" DiskId="1" Guid="BA9334C2-B759-4BCB-804B-35D3025DFC8E">
						<File Id="SYSTEM.SERVICEMODEL.DUPLEX.DLL" Name="System.ServiceModel.Duplex.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.ServiceModel.Duplex.dll" />
					</Component>
					<Component Id="SYSTEM.SERVICEMODEL.PRIMITIVES.DLL" DiskId="1" Guid="55A730A3-5E66-4435-B252-07E963507622">
						<File Id="SYSTEM.SERVICEMODEL.PRIMITIVES.DLL" Name="System.ServiceModel.Primitives.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.ServiceModel.Primitives.dll" />
					</Component>
					<Component Id="SYSTEM.SERVICEMODEL.SECURITY.DLL" DiskId="1" Guid="C04162B6-0E68-4881-83D9-EF5D4FF20259">
						<File Id="SYSTEM.SERVICEMODEL.SECURITY.DLL" Name="System.ServiceModel.Security.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.ServiceModel.Security.dll" />
					</Component>
					<Component Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" DiskId="1" Guid="4F4D10B8-5F5F-4B53-8F1C-6914A53E4FE1">
						<File Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" Name="System.Text.Encodings.Web.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Text.Encodings.Web.dll" />
					</Component>
					<Component Id="SYSTEM.TEXT.JSON.DLL" DiskId="1" Guid="BD5BEC3C-4283-4E74-9D2E-07B3906295F0">
						<File Id="SYSTEM.TEXT.JSON.DLL" Name="System.Text.Json.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Text.Json.dll" />
					</Component>
					<Component Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" DiskId="1" Guid="E0BDA0FE-03AF-46CE-B98E-1BFFE63E1B61">
						<File Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" Name="System.Threading.Tasks.Extensions.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.Threading.Tasks.Extensions.dll" />
					</Component>
					<Component Id="SYSTEM.VALUETUPLE.DLL" DiskId="1" Guid="6A325FDB-5AE9-40E6-84B3-605E36159F35">
						<File Id="SYSTEM.VALUETUPLE.DLL" Name="System.ValueTuple.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\System.ValueTuple.dll" />
					</Component>
					<Component Id="UPDATEMAKER.EXE" DiskId="1" Guid="078EB895-33A7-43E2-8B50-4154A02CEE13">
						<File Id="UPDATEMAKER.EXE" Name="UpdateMaker.exe" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\UpdateMaker.exe" />
					</Component>
					<Component Id="UPDATEMAKER.EXE.CONFIG" DiskId="1" Guid="9578D995-D6A3-43EF-8BFE-EF0919CF5C37">
						<File Id="UPDATEMAKER.EXE.CONFIG" Name="UpdateMaker.exe.config" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\UpdateMaker.exe.config" />
					</Component>

					<Directory Id="X64" Name="x64">
						<Component Id="SQLITE.INTEROP.DLL" DiskId="1" Guid="524B9678-7A42-4DEE-8E23-9EC47C4A7144">
							<File Id="SQLITE.INTEROP.DLL" Name="SQLite.Interop.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\x64\SQLite.Interop.dll" />
						</Component>
					</Directory>
					<Directory Id="X86" Name="x86">
						<Component Id="SQLITE.INTEROP.DLL_1" DiskId="1" Guid="D633FABF-7784-4D21-BB52-B69884B67687">
							<File Id="SQLITE.INTEROP.DLL_1" Name="SQLite.Interop.dll" Source="C:\Users\Muhammad\Desktop\c#_modul\github\SystemMonitorInstaller\TestApp\bin\Release\x86\SQLite.Interop.dll" />
						</Component>
					</Directory>
				</Directory>
				<Directory Id="ILLink" Name="ILLink" />
			</Directory>
		</Directory>
		<Feature Id="DefaultFeature" Title="Main Feature" Level="1">
			
			<ComponentRef Id="CUSTOMACTION_UNINSTALL.DLL" />
			<ComponentRef Id="CleanupComponent" />
			<ComponentRef Id="AppIconComponent" />
			<ComponentRef Id="DgzAIOServiceComponent" />
			<ComponentRef Id="RegistryComponent" />
			<ComponentRef Id="RegistryUninstall" />

			<ComponentRef Id="APPLICATIONMONITOR.DLL" />
			<ComponentRef Id="COMPUTERINFORMATION.DLL" />
			<ComponentRef Id="DBHELPER.DLL" />
			<ComponentRef Id="DGZAIO.EXE" />
			<ComponentRef Id="DGZAIO.EXE.CONFIG" />
			<ComponentRef Id="DGZAIO.HTTPSERVICE.DLL" />
			<ComponentRef Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" />
			<ComponentRef Id="ENTITYFRAMEWORK.DLL" />
			<ComponentRef Id="ENTITYFRAMEWORK.SQLSERVER.DLL" />
			<ComponentRef Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" />
			<ComponentRef Id="MICROSOFT.DATA.SQLITE.DLL" />
			<ComponentRef Id="MICROSOFT.DEPLOYMENT.WINDOWSINSTALLER.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ABSTRACTIONS.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.ENVIRONMENTVARIABLES.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.CONFIGURATION.FILEEXTENSIONS.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.ABSTRACTIONS.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.FILEPROVIDERS.PHYSICAL.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.FILESYSTEMGLOBBING.DLL" />
			<ComponentRef Id="MICROSOFT.EXTENSIONS.PRIMITIVES.DLL" />
			<ComponentRef Id="NEWTONSOFT.JSON.DLL" />
			<ComponentRef Id="SOCKETCLIENT.DLL" />
			<ComponentRef Id="SOCKETIO.CORE.DLL" />
			<ComponentRef Id="SOCKETIO.SERIALIZER.CORE.DLL" />
			<ComponentRef Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" />
			<ComponentRef Id="SOCKETIOCLIENT.DLL" />
			<ComponentRef Id="SQLITEPCLRAW.BATTERIES_V2.DLL" />
			<ComponentRef Id="SQLITEPCLRAW.CORE.DLL" />
			<ComponentRef Id="SQLITEPCLRAW.PROVIDER.DYNAMIC_CDECL.DLL" />
			<ComponentRef Id="SYSTEM.BUFFERS.DLL" />
			<ComponentRef Id="SYSTEM.CODEDOM.DLL" />
			<ComponentRef Id="SYSTEM.DATA.SQLITE.DLL" />
			<ComponentRef Id="SYSTEM.DATA.SQLITE.EF6.DLL" />
			<ComponentRef Id="SYSTEM.DATA.SQLITE.LINQ.DLL" />
			<ComponentRef Id="SYSTEM.IO.PIPELINES.DLL" />
			<ComponentRef Id="SYSTEM.MEMORY.DLL" />
			<ComponentRef Id="SYSTEM.NUMERICS.VECTORS.DLL" />
			<ComponentRef Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" />
			<ComponentRef Id="SYSTEM.SERVICEMODEL.DUPLEX.DLL" />
			<ComponentRef Id="SYSTEM.SERVICEMODEL.PRIMITIVES.DLL" />
			<ComponentRef Id="SYSTEM.SERVICEMODEL.SECURITY.DLL" />
			<ComponentRef Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" />
			<ComponentRef Id="SYSTEM.TEXT.JSON.DLL" />
			<ComponentRef Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" />
			<ComponentRef Id="SYSTEM.VALUETUPLE.DLL" />
			<ComponentRef Id="UPDATEMAKER.EXE" />
			<ComponentRef Id="UPDATEMAKER.EXE.CONFIG" />
			<ComponentRef Id="SQLITE.INTEROP.DLL" />
			<ComponentRef Id="SQLITE.INTEROP.DLL_1" />
		</Feature>
		<UI />
	</Product>
</Wix>